body{
	margin: 0px;
	padding: 0px;
	background-color: #F4F4F1;
}

div.image {
   width:275px; /*width of your image*/
   height:115px; /*height of your image*/
   background-image:url('./dazz-logo.png');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}